<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load posts_filters %}
{% load posts_tags %}

<!-- Название у нас будет Product -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1> {{ post.name_post|censor }} </h1>
<h3> {{ post.date_post|date:"d M Y" }} </h3>
<h3> {{ post.text_post|censor }} </h3>
{% endblock content %}