{% extends 'flatpages/default.html' %} 

{% load posts_filters %}
{% load posts_tags %}

{% block title %}
Posts
{% endblock title %}
 

{% block content %}
   <h1>Все новости</h1>
   <h3>{% current_time '%b %d %Y' %}</h3>

   <hr>
{% if posts %}
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Содержание</td>
        <td>Категория</td>
    </tr>
        {% for post in posts %}
    <tr>
        <td>{{ post.name_post }}</td>
        <td>{{ post.date_post| date:"d M Y" }}</td>
        <td>{{ post.text_post| truncatechars:20 }}</td>
        {% for cat in post.postCategory.all %}
        <td>{{ cat.name_category }}</td>
        {% endfor %}
    </tr>
        {% endfor %}
</table>
{% else %}
<h3>Публикаций нет</h3>
{% endif %}
{% endblock content %}